[Desktop Entry]
Name=Snes9x Qt [Kyu]
Comment=A Super Nintendo emulator
Comment[de]=Ein Super Nintendo‑Emulator
Comment[pl]=Emulator Super Nintendo
Type=Application
Categories=Game;Emulator;
Exec=snes9x-qt
Icon=snes9x
StartupWMClass=snes9x-qt
